Repository MihailStar/starting: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, pug-lint, stylelint

.lintstagedrc:

{
  "*.js": ["eslint"],
  "*.pug": ["pug-lint"],
  "*.scss": ["stylelint"]
}

feat: добавляет иконку
  src/images/sprite/checkbox-blank-circle.svg
Due: none

style: правит иконку
  src/images/sprite/checkbox-blank-circle.svg
Due: none

refactor: правит миксин
  src/blocks/select/select.scss
Due: stylelint

build: обновляет пакеты
  package.json
Due: none

feat: добавляет миксин
  src/blocks/checkbox/checkbox.pug
  src/blocks/checkbox/checkbox.scss
Due: pug-lint, stylelint

feat: добавляет миксин
  src/blocks/radio/radio.pug
  src/blocks/radio/radio.scss
Due: pug-lint, stylelint

fix: переподключает некоторые блоки
  src/index.pug
Due: pug-lint

refactor: заменяет require на import Безобразно, но единообразно
  createBlock.js
  package.json
  readme.md
Due: eslint

remove: удаляет иконку
  src/images/sprite/checkbox-blank-circle.svg
Due: none

refactor: правит стили миксинов checkbox, radio
  src/blocks/checkbox/checkbox.scss
  src/blocks/radio/radio.scss
Due: stylelint

feat: добавляет миксин
  src/blocks/switch/switch.pug
  src/blocks/switch/switch.scss
  src/index.pug
  src/styles/main.scss
  src/templates/main.pug
Due: pug-lint, stylelint

refactor: правит стили миксинов input, textarea
  src/blocks/input/input.scss
  src/blocks/textarea/textarea.scss
Due: stylelint

feat: подключает блоки, добавляет болванки блоков
  src/blocks/counter/counter.js
  src/blocks/counter/counter.pug
  src/blocks/counter/counter.scss
  src/blocks/modal/modal.js
  src/blocks/modal/modal.pug
  src/blocks/modal/modal.scss
  src/templates/main.pug
Due: eslint, pug-lint, stylelint

refactor: правит миксин
  src/blocks/button/button.pug
  src/blocks/button/button.scss
Due: pug-lint, stylelint

refactor: правит шаблоны миксинов checkbox, radio, textarea
  src/blocks/checkbox/checkbox.pug
  src/blocks/radio/radio.pug
  src/blocks/textarea/textarea.pug
Due: pug-lint

refactor: правит миксин
  src/blocks/select/select.pug
  src/blocks/select/select.scss
Due: pug-lint, stylelint

refactor: правит миксин
  src/blocks/switch/switch.pug
  src/blocks/switch/switch.scss
Due: pug-lint, stylelint

refactor: правит шаблон миксина
  src/blocks/input/input.pug
Due: pug-lint

style
  src/index.pug
Due: pug-lint

refactor: правит стили миксинов checkbox, radio, select, switch
  src/blocks/checkbox/checkbox.scss
  src/blocks/radio/radio.scss
  src/blocks/select/select.scss
  src/blocks/switch/switch.scss
Due: stylelint

build: изменяет конфигурационный файл
  .htmlhintrc
Due: none

feat: добавляет иконки
  src/images/sprite/minus.svg
  src/images/sprite/plus.svg
Due: none

fix: правит стили миксинов input, textarea
  src/blocks/input/input.scss
  src/blocks/textarea/textarea.scss
Due: stylelint

refactor: правит базовые шаблоны и стили
  src/styles/main.scss
  src/templates/main.pug
Due: pug-lint, stylelint

docs: docs: обновляет документацию
  readme.md
Due: none

build: изменяет конфигурационный файл
  package.json
Due: none

fear: дополняет утилиту
  src/scripts/utilities.js
Due: eslint

feat: добавляет миксин
  src/blocks/counter/counter.js
  src/blocks/counter/counter.pug
  src/blocks/counter/counter.scss
Due: eslint, pug-lint, stylelint

refactor: добавляет JSDoc
  src/scripts/utilities.js
Due: eslint

refactor: правит базовые стили
  src/styles/main.scss
Due: stylelint

feat: подключает скрипты блокa/миксина сounter
  src/scripts/main.js
Due: eslint

build: изменяет конфигурационный файл
  .eslintrc
Due: none

feat: подключает блок/миксин modal
  src/index.pug
  src/scripts/main.js
Due: eslint, pug-lint

refactor: правит утилиты
  src/blocks/counter/counter.js
  src/scripts/main.js
  src/scripts/utilities/my-event-emitter.js
  src/scripts/utilities/my-storage.js
Due: eslint
