Repository MihailStar/starting: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, pug-lint, stylelint

build: обновляет конфигурацию eslint
  .eslintrc
Due: none

build: обновляет конфигурацию flow
  .flowconfig
Due: none

refactor: так нужно
  src/scripts/utilities/event-emitter.js
  src/scripts/utilities/storage.js
Due: eslint

build: правит task сборки
  gulp/tasks/build.js
Due: eslint

Revert "build: правит task сборки"
  gulp/tasks/build.js
Due: eslint

refactor: добавляет some little типов
  src/blocks/components/counter/counter.js
Due: eslint

refactor: так нужно
  src/blocks/components/counter/counter.js
  src/scripts/utilities/event-emitter.js
Due: eslint

refactor: так нужно
  src/blocks/components/button/button.scss
  src/blocks/components/checkbox/checkbox.scss
  src/blocks/components/counter/counter.scss
  src/blocks/components/input/input.scss
  src/blocks/components/select/select.scss
  src/blocks/components/textarea/textarea.scss
Due: stylelint

refactor: так нужно
  src/blocks/components/counter/counter.js
Due: eslint

feat: добавляет миксин
  src/blocks/components/keyboard/button.js
  src/blocks/components/keyboard/codes.js
  src/blocks/components/keyboard/keyboard.js
  src/blocks/components/keyboard/keyboard.pug
  src/blocks/components/keyboard/keyboard.scss
  src/blocks/components/keyboard/scheme.js
  src/index.pug
  src/scripts/main.js
  src/styles/main.scss
  src/templates/main.pug
Due: eslint, pug-lint, stylelint

build: изменяет конфигурационный файл
  package.json
Due: none

docs: обновляет документацию
  readme.md
Due: none

build: обновляет пакеты
  package.json
Due: none

refactor: так нужно
  src/blocks/components/keyboard/button.js
Due: eslint

refactor: правит тест
  src/scripts/utilities/event-emitter.test.js
Due: eslint

feat: добавляет тест
  src/blocks/components/keyboard/scheme.test.js
Due: eslint

refactor: удаляет примеры вызова миксинов
  src/index.pug
Due: pug-lint

refactor: добавляет примеры вызова миксинов
  src/blocks/components/button/button.pug
  src/blocks/components/checkbox/checkbox.pug
  src/blocks/components/counter/counter.pug
  src/blocks/components/icon/icon.pug
  src/blocks/components/input/input.pug
  src/blocks/components/keyboard/keyboard.pug
  src/blocks/components/modal/modal.pug
  src/blocks/components/radio/radio.pug
  src/blocks/components/select/select.pug
  src/blocks/components/switch/switch.pug
  src/blocks/components/textarea/textarea.pug
Due: pug-lint

refactor: так нужно
  src/index.pug
Due: pug-lint

refactor: правит примеры вызова миксинов
  src/blocks/components/button/button.pug
Due: pug-lint

refactor: так нужно
  src/scripts/main.js
Due: eslint

refactor: правит миксин
  src/blocks/components/textarea/textarea.pug
  src/blocks/components/textarea/textarea.scss
Due: pug-lint, stylelint

refactor: вырубает правило eslint в файлах сборки import/no-extraneous-dependencies
  gulp/configuration.js
  gulp/tasks/archive.js
  gulp/tasks/base64.js
  gulp/tasks/build.js
  gulp/tasks/clean.js
  gulp/tasks/development.js
  gulp/tasks/fonts.js
  gulp/tasks/images.js
  gulp/tasks/production.js
  gulp/tasks/scripts.js
  gulp/tasks/server.js
  gulp/tasks/sprite.js
  gulp/tasks/styles.js
  gulp/tasks/templates.js
  gulp/tasks/watch.js
Due: eslint

fix: копипаст зло
  src/blocks/components/keyboard/keyboard.scss
Due: stylelint

fix: раскрывает описание коллбэка
  src/scripts/utilities/event-emitter.js
Due: eslint

build: изменяет конфигурационный файл
  .stylelintrc
Due: none

build: обновляет пакет
  package.json
Due: none

refactor: style и DRY
  src/blocks/components/button/button.scss
  src/blocks/components/checkbox/checkbox.scss
  src/blocks/components/counter/counter.scss
  src/blocks/components/icon/icon.scss
  src/blocks/components/input/input.scss
  src/blocks/components/keyboard/button.js
  src/blocks/components/keyboard/keyboard.js
  src/blocks/components/keyboard/keyboard.scss
  src/blocks/components/keyboard/scheme.js
  src/blocks/components/modal/modal.scss
  src/blocks/components/radio/radio.pug
  src/blocks/components/radio/radio.scss
  src/blocks/components/select/select.scss
  src/blocks/components/switch/switch.pug
  src/blocks/components/switch/switch.scss
  src/blocks/components/textarea/textarea.pug
  src/blocks/components/textarea/textarea.scss
  src/styles/main.scss
  src/styles/utilities.scss
Due: eslint, pug-lint, stylelint

refactor: DRY
  createBlock.js
Due: eslint

refactor: converts Flow types to Flow comment types
  src/blocks/components/keyboard/keyboard.js
Due: eslint

refactor: правит шаблоны
  src/blocks/components/counter/counter.pug
  src/blocks/components/keyboard/keyboard.pug
  src/blocks/components/switch/switch.pug
  src/index.pug
  src/templates/main.pug
  src/templates/utilities.pug
Due: pug-lint

refactor: правит стили
  src/blocks/components/button/button.scss
  src/blocks/components/input/input.scss
  src/images/point.svg
  src/styles/main.scss
Due: stylelint

refactor: правит скрипты
  src/blocks/components/counter/counter.js
  src/scripts/main.js
  src/scripts/utilities/event-emitter.js
  src/scripts/utilities/storage.js
Due: eslint

refactor: правит типизацию
  createBlock.js
  src/blocks/components/keyboard/keyboard.js
  src/scripts/main.js
  src/scripts/utilities/event-emitter.test.js
  src/templates/utilities.pug
Due: eslint, pug-lint

feat: расширяет опции утилиты
  src/templates/utilities.pug
Due: pug-lint

fix: объясняет pug'у на более древнем диалекте
  src/templates/utilities.pug
Due: pug-lint

feat: добавляет миксин
  src/blocks/components/rating/rating.js
  src/blocks/components/rating/rating.pug
  src/blocks/components/rating/rating.scss
  src/images/star-outline.svg
  src/images/star.svg
Due: eslint, pug-lint, stylelint

Path conditions:
  eslint: any of: *.js
  pug-lint: any of: *.pug
  stylelint: any of: *.scss
