Repository MihailStar/starting: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, pug-lint, stylelint

build: добавляет плагин
  package.json
Due: none

build: изменяет конфигурационные файлы
  .babelrc
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  .stylelintignore
  .yaspellerrc
Due: none

build: изменяет конфигурационный файл
  .eslintrc
Due: none

fear: добавляет утилиту createBlock
  createBlock.js
  readme.md
Due: eslint

fear: добавляет утилиты
  src/scripts/utilities.js
  src/styles/utilities.scss
  src/templates/utilities.pug
Due: eslint, pug-lint, stylelint

refactor: правит базовые стили
  src/styles/base.scss
  src/styles/fonts.scss
  src/styles/grid.scss
  src/styles/imported-blocks.scss
  src/styles/main.scss
  src/styles/variables.scss
Due: stylelint

refactor: правит базовые шаблоны
  src/index.pug
  src/templates/imported-blocks.pug
  src/templates/main.pug
Due: pug-lint

refactor: правит базовые скрипты
  src/scripts/imported-blocks.js
  src/scripts/main.js
Due: eslint

refactor: правит миксины
  src/blocks/button/button.pug
  src/blocks/button/button.scss
  src/blocks/icon/icon.pug
  src/blocks/icon/icon.scss
Due: pug-lint, stylelint

build: изменяет конфигурационный файл
  .browserslistrc
Due: none

fear: добавляет утилиту
  src/templates/utilities.pug
Due: pug-lint

refactor: правит миксины
  src/blocks/button/button.pug
  src/blocks/button/button.scss
  src/blocks/icon/icon.pug
  src/blocks/icon/icon.scss
  src/styles/variables.scss
Due: pug-lint, stylelint

refactor: правит миксин
  src/blocks/button/button.pug
  src/blocks/button/button.scss
Due: pug-lint, stylelint

feat: добавляет иконки
  src/images/sprite/check.svg
  src/images/sprite/chevron-down.svg
Due: none

refactor: правит утилиту
  createBlock.js
Due: eslint

docs: обновляет документацию
  readme.md
Due: none

refactor: правит миксин
  src/blocks/icon/icon.pug
  src/blocks/icon/icon.scss
Due: pug-lint, stylelint

feat: добавляет миксин
  src/blocks/select/select.pug
  src/blocks/select/select.scss
  src/styles/main.scss
  src/templates/main.pug
Due: pug-lint, stylelint

build: обновляет пакеты
  package.json
Due: none

refactor: правит именование функций Для лучшей читаемости, имхо
  createBlock.js
  gulp/tasks/watch.js
Due: eslint

remove: удаляет файл заглушку Это надо было сделать с еще при добавлении иконок, но...
  src/images/sprite/.gitkeep
Due: none

refactor: правит именование функций
  src/templates/utilities.pug
Due: pug-lint

refactor: правит миксин
  src/blocks/select/select.pug
Due: pug-lint

fear: добавляет полифил векторного спрайта для IE
  package.json
  src/blocks/icon/icon.js
  src/scripts/main.js
Due: eslint

feat: добавляет иконку
  src/images/sprite/checkbox-blank-circle-outline.svg
Due: none

refactor: правит миксин
  src/blocks/select/select.scss
Due: stylelint

feat: подключает блоки, добавляет болванки блоков
  src/blocks/checkbox/checkbox.pug
  src/blocks/checkbox/checkbox.scss
  src/blocks/input/input.pug
  src/blocks/input/input.scss
  src/blocks/radio/radio.pug
  src/blocks/radio/radio.scss
  src/blocks/textarea/textarea.pug
  src/blocks/textarea/textarea.scss
  src/index.pug
  src/styles/main.scss
  src/templates/main.pug
Due: pug-lint, stylelint

fix: обнуляет margin'ы
  src/index.pug
Due: pug-lint

refactor: правит миксин
  src/blocks/button/button.scss
Due: stylelint

refactor: правит миксин
  src/blocks/icon/icon.scss
Due: stylelint

style
  src/index.pug
Due: pug-lint

feat: добавляет миксин
  src/blocks/input/input.pug
  src/blocks/input/input.scss
Due: pug-lint, stylelint

feat: добавляет миксин
  src/blocks/textarea/textarea.pug
  src/blocks/textarea/textarea.scss
Due: pug-lint, stylelint

refactor: правит стили миксинов input, select, textarea
  src/blocks/input/input.scss
  src/blocks/select/select.scss
  src/blocks/textarea/textarea.scss
Due: stylelint

Path conditions:
  eslint: any of: *.js
  pug-lint: any of: *.pug
  stylelint: any of: *.scss
