Repository MihailStar/starting: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, pug-lint, stylelint

refactor: унифицирует
  src/blocks/components/keyboard/keyboard.js
Due: eslint

feat: вешает логгеры
  src/scripts/main.js
Due: eslint

refactor: правит типизацию
  src/blocks/components/keyboard/button.js
  src/blocks/components/keyboard/codes.js
  src/blocks/components/keyboard/keyboard.js
  src/blocks/components/keyboard/scheme.js
  src/scripts/utilities/event-emitter.js
Due: eslint

refactor: удаляет лишнее
  src/scripts/utilities/event-emitter.test.js
Due: eslint

feat: заменяет Flow обвязку на TypeScript обвязку
  .babelrc
  .eslintrc
  .flowconfig
  package.json
  readme.md
Due: none

build: обновляет пакеты
  package.json
Due: none

build: изменяет конфигурационный файл
  .eslintrc
Due: none

build: изменяет конфигурационные файлы
  .eslintrc
  webpack.config.babel.js
Due: eslint

docs: обновляет документацию
  readme.md
Due: none

refactor: правит утилиту
  createBlock.js
Due: eslint

build: изменяет конфигурационный файл
  gulp/configuration.js
Due: eslint

refactor: .js -> .ts
  createBlock.js
  package.json
  src/blocks/components/counter/counter.ts
  src/blocks/components/icon/icon.js
  src/blocks/components/icon/icon.ts
  src/blocks/components/keyboard/button.ts
  src/blocks/components/keyboard/codes.ts
  src/blocks/components/keyboard/keyboard.ts
  src/blocks/components/keyboard/scheme.test.js
  src/blocks/components/keyboard/scheme.ts
  src/blocks/components/modal/modal.js
  src/blocks/components/modal/modal.ts
  src/blocks/components/rating/rating.ts
  src/scripts/main.ts
  src/scripts/utilities/event-emitter.test.js
  src/scripts/utilities/event-emitter.ts
  src/scripts/utilities/storage.ts
  src/templates/utilities.pug
  tsconfig.json
  webpack.config.babel.js
Due: eslint, pug-lint

docs: исправляет документацию
  readme.md
Due: none

build: изменяет конфигурационные файлы
  .gitignore
  .lintstagedrc
  .yaspellerrc
Due: none

style: форматирует
  createBlock.js
  src/blocks/components/keyboard/scheme.ts
  src/index.pug
Due: eslint, pug-lint

build: изменяет конфигурационный файл и обновляет пакеты
  package.json
Due: none

refactor: выпиливает костыли
  gulpfile.js
  webpack.config.js
Due: eslint

refactor: удаляет кавычки
  src/blocks/components/keyboard/scheme.test.js
  src/scripts/utilities/event-emitter.test.js
Due: eslint

refactor: переводит на ES модули без транспиляции
  .eslintrc
  createBlock.js
  gulp/tasks/archive.js
  gulp/tasks/base64.js
  gulp/tasks/build.js
  gulp/tasks/clean.js
  gulp/tasks/development.js
  gulp/tasks/fonts.js
  gulp/tasks/images.js
  gulp/tasks/production.js
  gulp/tasks/scripts.js
  gulp/tasks/server.js
  gulp/tasks/sprite.js
  gulp/tasks/styles.js
  gulp/tasks/templates.js
  gulp/tasks/watch.js
  gulpfile.js
  package.json
  webpack.config.js
Due: eslint

refactor: упрощает булевый атрибут https://pugjs.org/language/attributes.html#boolean-attributes
  src/blocks/components/rating/rating.pug
Due: pug-lint

refactor: переводит на ES модули с транспиляцией
  .eslintrc
  createBlock.js
  gulp/configuration.js
  gulp/tasks/archive.js
  gulp/tasks/base64.js
  gulp/tasks/build.js
  gulp/tasks/clean.js
  gulp/tasks/development.js
  gulp/tasks/fonts.js
  gulp/tasks/images.js
  gulp/tasks/production.js
  gulp/tasks/scripts.js
  gulp/tasks/server.js
  gulp/tasks/sprite.js
  gulp/tasks/styles.js
  gulp/tasks/templates.js
  gulp/tasks/watch.js
  gulpfile.babel.js
  gulpfile.js
  package.json
  tsconfig.json
  webpack.config.js
Due: eslint

feat: добавляет утилиту
  src/scripts/utilities/classof.ts
Due: none

fix: правит утилиту
  src/templates/utilities.pug
Due: pug-lint

refactor: заменяет @include на @extend
  createBlock.js
  src/blocks/components/button/button.scss
  src/blocks/components/checkbox/checkbox.scss
  src/blocks/components/counter/counter.scss
  src/blocks/components/icon/icon.scss
  src/blocks/components/input/input.scss
  src/blocks/components/keyboard/keyboard.scss
  src/blocks/components/modal/modal.scss
  src/blocks/components/radio/radio.scss
  src/blocks/components/rating/rating.scss
  src/blocks/components/select/select.scss
  src/blocks/components/switch/switch.scss
  src/blocks/components/textarea/textarea.scss
  src/styles/main.scss
  src/styles/utilities.scss
Due: eslint, stylelint

refactor: добавляет примеры, меняет строки местами
  src/blocks/components/input/input.pug
  src/blocks/components/textarea/textarea.pug
  src/index.pug
  src/templates/main.pug
Due: pug-lint

refactor: явное лучше неявного
  gulp/configuration.js
Due: eslint

feat: добавляет PostCSS 100vh Fix https://github.com/postcss/postcss-100vh-fix
  gulp/tasks/styles.js
  package.json
Due: eslint

style: форматирует
  createBlock.js
  gulp/configuration.js
  gulp/tasks/archive.js
  gulp/tasks/base64.js
  gulp/tasks/build.js
  gulp/tasks/clean.js
  gulp/tasks/development.js
  gulp/tasks/fonts.js
  gulp/tasks/images.js
  gulp/tasks/production.js
  gulp/tasks/scripts.js
  gulp/tasks/server.js
  gulp/tasks/sprite.js
  gulp/tasks/styles.js
  gulp/tasks/templates.js
  gulp/tasks/watch.js
  src/scripts/main.ts
Due: eslint

build: изменяет конфигурационный файл
  .stylelintrc
Due: none

Path conditions:
  eslint: any of: *.js
  pug-lint: any of: *.pug
  stylelint: any of: *.scss
