Repository MihailStar/starting: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, pug-lint, stylelint

build: обновляет пакеты
  package.json
Due: none

feat: добавляет тесты для MyEventEmitter
  package.json
  src/scripts/utilities/my-event-emitter.test.js
Due: eslint

refactor: правит утилиты
  readme.md
  src/scripts/utilities.js
Due: eslint

build: изменяет конфигурационный файл
  .gitignore
Due: none

feat: добавляет stylelint-config-prettier
  .stylelintrc
  package.json
Due: none

refactor: правит миксин
  src/blocks/icon/icon.pug
Due: pug-lint

feat: добавляет flow-bin
  .flowconfig
  package.json
Due: none

feat: добавляет stylelint-config-sass-guidelines
  .stylelintrc
  package.json
Due: none

feat: добавляет gh-pages
  gulp/configuration.js
  gulp/tasks/deploy.js
  gulpfile.babel.js
  package.json
Due: eslint

build: изменяет конфигурационные файлы Правит шаблоны исключений
  .babelrc
  .eslintignore
  .flowconfig
  .gitignore
  .prettierignore
  .stylelintignore
  .yaspellerrc
Due: none

refactor: дополняет тесты MyEventEmitter описанием
  src/scripts/utilities/my-event-emitter.test.js
Due: eslint

docs: обновляет документацию
  readme.md
Due: none

fix: добавляет обвязку flow-bin
  .babelrc
  package.json
Due: none

build: изменяет конфигурационные файлы
  .lintstagedrc
  .postcss-sorting.json
  .stylelintrc
  gulp/tasks/styles.js
Due: eslint

fix: правит утилиту
  createBlock.js
Due: eslint

refactor: правит согласно новому конфигу stylelint
  src/blocks/button/button.scss
  src/blocks/checkbox/checkbox.scss
  src/blocks/counter/counter.scss
  src/blocks/icon/icon.scss
  src/blocks/input/input.scss
  src/blocks/modal/modal.scss
  src/blocks/radio/radio.scss
  src/blocks/select/select.scss
  src/blocks/switch/switch.scss
  src/blocks/textarea/textarea.scss
  src/styles/main.scss
Due: stylelint

refactor: перемещает компоненты
  src/blocks/components/button/button.pug
  src/blocks/components/button/button.scss
  src/blocks/components/checkbox/checkbox.pug
  src/blocks/components/checkbox/checkbox.scss
  src/blocks/components/counter/counter.js
  src/blocks/components/counter/counter.pug
  src/blocks/components/counter/counter.scss
  src/blocks/components/icon/icon.js
  src/blocks/components/icon/icon.pug
  src/blocks/components/icon/icon.scss
  src/blocks/components/input/input.pug
  src/blocks/components/input/input.scss
  src/blocks/components/modal/modal.js
  src/blocks/components/modal/modal.pug
  src/blocks/components/modal/modal.scss
  src/blocks/components/radio/radio.pug
  src/blocks/components/radio/radio.scss
  src/blocks/components/select/select.pug
  src/blocks/components/select/select.scss
  src/blocks/components/switch/switch.pug
  src/blocks/components/switch/switch.scss
  src/blocks/components/textarea/textarea.pug
  src/blocks/components/textarea/textarea.scss
  src/blocks/parts/.gitkeep
  src/scripts/main.js
  src/styles/main.scss
  src/templates/main.pug
Due: eslint, pug-lint, stylelint

fix: правит стили миксинов checkbox, input, radio, switch
  src/blocks/components/checkbox/checkbox.scss
  src/blocks/components/input/input.scss
  src/blocks/components/radio/radio.scss
  src/blocks/components/switch/switch.scss
Due: stylelint

build: обновляет пакеты
  .prettierrc
  package.json
Due: none

build: обновляет конфигурацию webpack
  webpack.config.babel.js
Due: eslint

build: обновляет конфигурацию eslint
  .eslintrc
Due: none

build: обновляет конфигурацию stylelint
  .stylelintrc
Due: none

refactor: добавляет префиксы компонентам
  src/blocks/components/counter/counter.js
  src/blocks/components/modal/modal.js
  src/scripts/utilities/event-emitter.js
  src/scripts/utilities/event-emitter.test.js
  src/scripts/utilities/storage.js
Due: eslint

refactor: так короче
  src/blocks/components/counter/counter.js
Due: eslint

refactor: уже не нужно
  gulp/configuration.js
  gulp/tasks/archive.js
  gulp/tasks/base64.js
  gulp/tasks/build.js
  gulp/tasks/clean.js
  gulp/tasks/development.js
  gulp/tasks/fonts.js
  gulp/tasks/images.js
  gulp/tasks/production.js
  gulp/tasks/scripts.js
  gulp/tasks/server.js
  gulp/tasks/sprite.js
  gulp/tasks/styles.js
  gulp/tasks/templates.js
  gulp/tasks/watch.js
Due: eslint

feat: добавляет eslint-plugin-flowtype
  .eslintrc
  package.json
Due: none

refactor: правит JSDoc, добавляет Flow Comment Types
  src/blocks/components/counter/counter.js
  src/scripts/utilities/event-emitter.js
Due: eslint

fix: правит имя утилиты
  package.json
Due: none

refactor: так нужно
  src/scripts/utilities/event-emitter.js
Due: eslint

refactor: унифицирует
  src/scripts/utilities/event-emitter.test.js
Due: eslint

build: обновляет конфигурацию flow
  .flowconfig
  src/scripts/utilities/event-emitter.js
Due: eslint

refactor: так нужно
  src/scripts/utilities/storage.js
Due: eslint

refactor: добавляет some little типов
  src/scripts/utilities/event-emitter.js
  src/scripts/utilities/storage.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  pug-lint: any of: *.pug
  stylelint: any of: *.scss
